<div class="product-item text-center">
    <a href="{{ path('product', { 'slug' : product.slug }) }}"><img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid"  style="max-width: 100%;  min-width:100% ;
  min-height:80% ;max-height: 80% "></a>
    <h5 class="text-left p-2">{{ product.name }}</h5>
    {# <span class="product-subtitle">{{ product.subtitle }}</span> #}
    <p class="product-price text-right  ">{{ (product.price / 100)|number_format(2, ',', '.') }} €</p>
</div>
