<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="La boutique qui vend uniquement du made in France.">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Jekyll v4.1.1">
		<title>
			{% block title %}Turquesa Joaillerie - 100% Handmade
			{% endblock %}
		</title>

		<!-- Bootstrap core CSS -->
		<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@600&display=swap" rel="stylesheet"> {% block javascript %}{% endblock %}
		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>
		<!-- Custom styles for this template -->
		<link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-md navbar-light ">
				<a class="navbar-brand link " href="{{ path('app_home') }}">TURQUESA Joaillerie</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link link " href="{{ path('app_home') }}">Accueil</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link link " href="{{ path('app_product') }}">Catalague
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link link " href="#">A propos</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link link " href="{{ path('app_contact') }}">Contact</a>
						</li>
					</ul>
					<div class="navbar-item-custom">
						{% if app.user %}
							<a class="link" href="{{ path('app_account') }}">
								{{ app.user.firstname }}
								{{ app.user.lastname }}
								<svg class="navbar-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 24 24"><path fill="currentColor" d="M9.775 12q-.9 0-1.5-.675T7.8 9.75l.325-2.45q.2-1.425 1.3-2.363T12 4q1.475 0 2.575.938t1.3 2.362l.325 2.45q.125.9-.475 1.575t-1.5.675zM4 20v-2.8q0-.85.438-1.562T5.6 14.55q1.55-.775 3.15-1.162T12 13q1.65 0 3.25.388t3.15 1.162q.725.375 1.163 1.088T20 17.2V20z"/></svg>
							</a>

						{% else %}

							<a class="link" href="{{ path('app_login') }}">
								<svg xmlns="http://www.w3.org/2000/svg" class="navbar-icon" width="32" height="32" viewbox="0 0 24 24"><path fill="currentColor" d="M9.775 12q-.9 0-1.5-.675T7.8 9.75l.325-2.45q.2-1.425 1.3-2.363T12 4q1.475 0 2.575.938t1.3 2.362l.325 2.45q.125.9-.475 1.575t-1.5.675zm0-2h4.45L13.9 7.6q-.1-.7-.637-1.15T12 6q-.725 0-1.263.45T10.1 7.6zM4 20v-2.8q0-.85.438-1.562T5.6 14.55q1.55-.775 3.15-1.162T12 13q1.65 0 3.25.388t3.15 1.162q.725.375 1.163 1.088T20 17.2V20zm2-2h12v-.8q0-.275-.137-.5t-.363-.35q-1.35-.675-2.725-1.012T12 15q-1.4 0-2.775.338T6.5 16.35q-.225.125-.363.35T6 17.2zm6 0"/></svg>
							</a>
						{% endif %}
					</div>
					<a class="link" href="{{ path('cart') }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="32" class="navbar-icon" height="32" viewbox="0 0 24 24">
							<g fill="none" stroke="currentColor" stroke-width="2"><path stroke-linejoin="round" d="M4 9h16l-.835 9.181A2 2 0 0 1 17.174 20H6.826a2 2 0 0 1-1.991-1.819z"/><path stroke-linecap="round" d="M8 11V8a4 4 0 1 1 8 0v3"/></g>
						</svg>

					</a>
				</div>
			</nav>
		</header>

		<main role="main">

			{% if block('carousel') is defined %}
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						{% for key,header in headers %}
							<li data-target="#myCarousel" data-slide-to="{{ key }}" {% if key == 0 %} class="active" {% endif %}></li>
						{% endfor %}
					</ol>
					<div class="carousel-inner">
						{% for key,header in headers %}
							<div class="carousel-item {% if key == 0 %}active{% endif %}" style="background: url('/uploads/{{ header.illustration }}');background-repeat: no-repeat;    background-size: cover;} ">
								<div class="container">
									<div class="carousel-caption text-left ">
										<h1>{{ header.title }}</h1>
										<p>{{ header.content }}</p>
										<p class="text-right">
											<a class="btn btn-lg headerBtnTitle  w-50 animate__animated animate__flash animate__delay-2s	" href="{{ header.btnUrl }}" role="button">{{ header.btnTitle }}</a>
										</p>
										<div class="imgs-header">
											<img src="{{ asset('assets/img/header1.jpg') }}" class="img-header" alt="pierres">
											<img src="{{ asset('assets/img/header2.jpg') }}" class="img-header" alt="cration de bijoux">
											<img src="{{ asset('assets/img/header3.jpg') }}" class="img-header" alt="header bijoux">
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			{% endif %}

			<!-- Marketing messaging and featurettes ================================================== -->
			<!-- Wrap the rest of the page in another container to center all the content. -->

			<div class=" marketing {% if block('carousel') is not defined %}mt-5{% endif %}"> {% block content %}{% endblock %}

				</div>
				<!-- /.container -->

				<!-- FOOTER -->
				<footer>
					<div class="footer">
						<div class="footer-container">
							<div class="footer--adress">
								<a class="link-dark" href="{{path('app_home')}}">
									<h2>TURQUEZA JOAILLERIE</h2>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur .</p>
								<p>05-555-555-55</p>
							</div>

							<div class="footer--newsletter">
								<h6>AIDE ET CONTACTS</h6>
								<div>
									<p>Notre service client est là pour vous du lundi au vendredi de 9h à 17h</p>
									<p>
										*Cout d’un appel local selon votre opérateur</p>
								</div>
								<form class="d-flex Form" role="search" action="" method="GET">
									<input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
									<button class="btn btn-outline-light w-75 " type="submit">chercher</button>
								</form>
							</div>
							<div class="footer--social">
								<h6>SUIVEZ NOUS</h6>
								<ul class="footerSocialUl ">
									<li class="footerSocialLi ">
									<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 128 128"><path fill="currentColor" d="M116.42 5.07H11.58a6.5 6.5 0 0 0-6.5 6.5v104.85a6.5 6.5 0 0 0 6.5 6.5H68V77.29H52.66V59.5H68V46.38c0-15.22 9.3-23.51 22.88-23.51a126 126 0 0 1 13.72.7v15.91h-9.39c-7.39 0-8.82 3.51-8.82 8.66V59.5H104l-2.29 17.79H86.39v45.64h30a6.51 6.51 0 0 0 6.5-6.5V11.58a6.5 6.5 0 0 0-6.47-6.51"/></svg></li>
									<li class="footerSocialLi">
									<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 1000 1000"><path fill="currentColor" d="M603.575 510.854c0-54.044-44.172-98.02-98.463-98.02c-54.285 0-98.455 43.977-98.455 98.02c0 54.058 44.17 98.026 98.455 98.026c54.291 0 98.463-43.968 98.463-98.026M749.855.602H250.142C112.465.602.456 112.124.456 249.199v69.266h367.413c38.769-27.496 86.118-43.739 137.243-43.739c51.124 0 98.48 16.243 137.251 43.739H999.54v-69.266C999.54 112.123 887.531.602 749.855.602m101.12 236.435c0 15.191-12.48 27.622-27.743 27.622h-85.72c-15.261 0-27.743-12.431-27.743-27.622v-85.352c0-15.19 12.481-27.622 27.743-27.622h85.72c15.262 0 27.743 12.43 27.743 27.622zM742.287 510.854c0 130.215-106.402 236.133-237.176 236.133c-130.778 0-237.17-105.918-237.17-236.133c0-35.848 8.11-69.845 22.532-100.318H.456v340.263c0 137.085 112.009 248.597 249.686 248.597h499.714c137.676 0 249.685-111.513 249.685-248.597V410.536H719.755c14.422 30.473 22.532 64.47 22.532 100.318"/></svg></li>
									<li class="footerSocialLi">
									<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 128 128"><path fill="currentColor" d="M116 3H12a8.91 8.91 0 0 0-9 8.8v104.42a8.91 8.91 0 0 0 9 8.78h104a8.93 8.93 0 0 0 9-8.81V11.77A8.93 8.93 0 0 0 116 3M39.17 107H21.06V48.73h18.11zm-9-66.21a10.5 10.5 0 1 1 10.49-10.5a10.5 10.5 0 0 1-10.54 10.48zM107 107H88.89V78.65c0-6.75-.12-15.44-9.41-15.44s-10.87 7.36-10.87 15V107H50.53V48.73h17.36v8h.24c2.42-4.58 8.32-9.41 17.13-9.41C103.6 47.28 107 59.35 107 75z"/></svg></li>
								</ul>

							</div>
						</div>

						<p class="text-center ">&copy;
							{{ 'now'|date('Y') }}
							TURQUEZA JOAILLERIE.Tous droits réservés.</p>
					</div>
				</footer>

			</main>
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
			<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
			<script type="text/javascript">

				function placeFooter() {
if ($(document.body).height() < $(window).height()) {
$("footer").css({position: "fixed", bottom: "0px", width:100%});
} else {
$("footer").css({position: ""});
}
}

placeFooter();
			</script>
		</body>
		{% block script %}{% endblock %}
	</html>
